$primary: #0a192f;
$primary-100: #e6ecf2; // Lightest
$primary-200: #ccd9e5;
$primary-300: #b3c6d8;
$primary-400: #809fbf;
$primary-500: #4d79a5; // Mid
$primary-600: #446c95;
$primary-700: #2e4763;
$primary-800: #22354a;
$primary-900: #0a192f; // Darkest

$secondary: #d1d5db;
$secondary-100: #f3f4f6;
$secondary-200: #e5e7eb;
$secondary-300: #d1d5db;
$secondary-400: #9ca3af;
$secondary-500: #6b7280; // Base gray
$secondary-600: #4b5563;
$secondary-700: #374151;
$secondary-800: #1f2937;
$secondary-900: #111827; // Darkest

$accent: #db2777;
$accent-100: #fce7f3; // pink-100
$accent-200: #fbcfe8; // pink-200
$accent-300: #f9a8d4; // pink-300
$accent-400: #f472b6; // pink-400
$accent-500: #ec4899; // pink-500
$accent-600: #db2777; // pink-600
$accent-700: #be185d; // pink-700
$accent-800: #9d174d; // pink-800
$accent-900: #831843; // pink-900
