@use '../globals/colors.scss' as colors;

.flipBox {
    perspective: 1000px;
    height: 100px;
    width: 220px;
    font-size: 1.3rem;
    &:hover {
        .flipBoxInner {
            transform: rotateY(180deg);
        }

        .frontMask {
            width: 100%;
            opacity: 0.5;
        }

        .txtBox {
            color: colors.$accent;
        }

        .descBox {
            color: colors.$secondary;
        }
    }
}

.flipBoxInner {
    width: 100%;
    height: 100%;
    padding: 1rem;
    height: 100%;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 1000ms;
    transition-property: all;
    transform-style: preserve-3d;
}

.flipBoxFront,
.flipBoxBack {
    padding: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipBoxFront {
    background-color: colors.$secondary-900;
    color: colors.$secondary-300;
    flex-direction: column;
}

.flipBoxBack {
    transform: rotateY(180deg);
    background-color: colors.$accent-800;
}

.imgBox {
    margin-right: auto;
    margin-left: auto;
    width: 5rem;
    height: 5rem;
}

.frontMask {
    opacity: 0;
    border-radius: inherit;
    transition-duration: 200ms;
    transition-property: opacity width;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: colors.$accent;
    mix-blend-mode: multiply;
}

.txtBox,
.descBox {
    cursor: default;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
